%h1 Welcome to the index page

%div
  = @content.content
%form 
  %div{class: "text_box_area"}
    %textarea{rows: "10", cols: "50"}

  %div{class: "game_buttons"}
    %input{type: "button", value: "Start", id: "start_button"}
    %input{type: "button", value: "Pause", id: "pause_button"}

  %div{class: "timer"}
