%html{ :lang => "en" }
  %head
    %meta{ "http-equiv" => "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ charset: "utf-8" }
    %title= @title || "Typist"
    %link{ rel: "stylesheet", href: '/stylesheet/style.css' }
    %link{ rel: "stylesheet", href: '/stylesheet/jquery_countdown/jquery.countdown.css'}
  %body
    .container
      =yield

    %script{ src: "/components/jquery/jquery.min.js" }
    %script{ src: "/javascript/script.js" }
    %script{ src: "/javascript/jquery_countdown/jquery.plugin.js" }
    %script{ src: "/javascript/jquery_countdown/jquery.countdown.js" }
    